<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589909960875-sq8ed02cljdv09ci73n2sibm0b91ca71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589909960875-sq8ed02cljdv09ci73n2sibm0b91ca71</string>
	<key>API_KEY</key>
	<string>AIzaSyCoHFHuNS0zazbJi3TEFl3EqPibfIRxrAg</string>
	<key>GCM_SENDER_ID</key>
	<string>589909960875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cupdikot</string>
	<key>PROJECT_ID</key>
	<string>cupdiknot-task</string>
	<key>STORAGE_BUCKET</key>
	<string>cupdiknot-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589909960875:ios:c3fa44e4afe85a7f35afee</string>
</dict>
</plist>